{% extends 'store/base.html' %}

{% block content %}
<div style="text-align: center; padding: 60px 20px; max-width: 800px; margin: 0 auto;">
    
    <div style="font-size: 80px; margin-bottom: 20px; text-shadow: 0 0 20px var(--gengar-neon);">🎉</div>

    <h1 style="font-size: 3.5rem; margin-bottom: 10px; text-transform: uppercase;">¡PEDIDO <span style="color: var(--gengar-neon);">CONFIRMADO!</span></h1>
    
    <p style="font-size: 1.3rem; color: var(--text-gray);">
        Gracias por unirte al caos, <span style="color: white; font-weight: bold; text-transform: uppercase;">{{ order.name }}</span>.
    </p>
    
    <div style="background: #120821; display: inline-block; padding: 40px 60px; margin: 40px 0; border: 2px dashed var(--gengar-neon); box-shadow: 0 0 20px rgba(176, 38, 255, 0.2); border-radius: 5px;">
        <p style="margin: 0; font-size: 1.1rem; color: var(--text-gray); text-transform: uppercase; letter-spacing: 1px;">Tu número de orden es</p>
        <h2 style="margin: 10px 0; font-size: 4rem; color: white; text-shadow: 2px 2px var(--gengar-primary);">#{{ order.id }}</h2>
    </div>

    <br>

    <div style="background: rgba(255,255,255,0.05); padding: 20px; border-radius: 10px; display: inline-block;">
        <p style="margin:0; color: var(--text-gray);">
            Hemos enviado el recibo a: <br>
            <strong style="color: var(--gengar-neon); font-size: 1.2rem;">{{ order.email }}</strong>
        </p>
    </div>

    <br>

    <a href="{% url 'store_home' %}" class="btn-gengar" style="margin-top: 40px; font-size: 1.2rem; padding: 15px 40px;">
        VOLVER A LA CALLE (TIENDA)
    </a>

</div>
{% endblock %}